<a href="https://colab.research.google.com/github/Ankush1oo8/Data_Analyst/blob/main/Basic_Python/dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

What is a dictionary?

A dictionary in Python is an unordered collection of key-value pairs. It's a versatile data structure used to store and retrieve data using a unique key for each value. Think of it like a real-world dictionary where you look up words (keys) to find their definitions (values).

Creating a Dictionary:

You can create a dictionary in Python using curly braces {} and separating key-value pairs with colons :. Here's an example:

In [1]:
my_dict = {'apple': 1, 'banana': 2, 'orange': 3}

Accessing Values:

To access a value in a dictionary, you use the corresponding key within square brackets []:

In [2]:
apple_value = my_dict['apple']  # apple_value will be 1

Adding or Modifying Entries:

You can add new key-value pairs or modify existing ones using assignment:

In [3]:
my_dict['grape'] = 4  # Adds a new entry with key 'grape' and value 4
my_dict['apple'] = 5  # Modifies the value of 'apple' to 5

Other Dictionary Operations:

- len(my_dict): Returns the number of key-value pairs in the dictionary.
- my_dict.keys(): Returns a list of all keys in the dictionary.
- my_dict.values(): Returns a list of all values in the dictionary.
- my_dict.items(): Returns a list of (key, value) pairs as tuples.
- del my_dict['apple']: Deletes the entry with the key 'apple'.

In [4]:
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}
print(my_dict['name'])  # Output: Alice
print(my_dict.keys())   # Output: dict_keys(['name', 'age', 'city'])

Alice
dict_keys(['name', 'age', 'city'])

In [10]:
#error
student={"name":"ankush","age":32,"short_name":"ank"}
print(student)

{'name': 'ankush', 'age': 32, 'short_name': 'ank'}

In [6]:
type(student)

dict

In [8]:
print(my_dict["age"])

30

In [11]:
print(student["name"])

ankush

In [12]:
#using get method
print(student.get("name"))

ankush

In [13]:
print(student.get("grade","not available")) #using default val

not available

In [14]:
# modifying dic element
#dict are mutable
#update,addd,delete element

In [15]:
print(student)

{'name': 'ankush', 'age': 32, 'short_name': 'ank'}

In [16]:
student["age"]=33 #updated
print(student)
student["address"]="shivoor" #added new key and val
print(student)

{'name': 'ankush', 'age': 33, 'short_name': 'ank'}
{'name': 'ankush', 'age': 33, 'short_name': 'ank', 'address': 'shivoor'}

In [17]:
del student["age"] #delete key and val pair

In [18]:
print(student)

{'name': 'ankush', 'short_name': 'ank', 'address': 'shivoor'}

In [21]:
##dict method
keys=student.keys()
print(keys)

dict_keys(['name', 'short_name', 'address'])

In [22]:
val=student.values()
print(val)

dict_values(['ankush', 'ank', 'shivoor'])

In [24]:
items=student.items()
print(items)

dict_items([('name', 'ankush'), ('short_name', 'ank'), ('address', 'shivoor')])

In [25]:
#shallow copy
student2=student
print(student2)

{'name': 'ankush', 'short_name': 'ank', 'address': 'shivoor'}

In [26]:
student["name"]="Ankush"

In [27]:
print(student2) #this also changes due to shallow copy

{'name': 'Ankush', 'short_name': 'ank', 'address': 'shivoor'}

In [28]:
student_copy=student.copy()
print(student_copy)
student["grade"]="A+"
print(student_copy) #not changed when original changes
print(student)

{'name': 'Ankush', 'short_name': 'ank', 'address': 'shivoor'}
{'name': 'Ankush', 'short_name': 'ank', 'address': 'shivoor'}
{'name': 'Ankush', 'short_name': 'ank', 'address': 'shivoor', 'grade': 'A+'}

In [29]:
#iterating over dict
#use loops to iterate keys,val,items

#over keys
for key in student.keys():
  print(key)

name
short_name
address
grade

In [31]:
#over val
for val in student.values():
  print(val)

Ankush
ank
shivoor
A+

In [35]:
#iterate over key val pair
for key, val in student.items():
  print(f"{key} : {val}")

name : Ankush
short_name : ank
address : shivoor
grade : A+

In [37]:
#nested dict
students={
    "student1":{"name":"ank","age":32},
    "student2":{"name":"ankush","age":21},
}
print(students)

{'student1': {'name': 'ank', 'age': 32}, 'student2': {'name': 'ankush', 'age': 21}}

In [38]:
## Access nested dict
print(students["student1"]["name"])

ank

In [39]:
print(students["student2"]["age"])

21

In [43]:
#iteration of nested dict
for student_id,student_info in students.items():
  print(f"{student_id}: {student_info}")
  for key, val in student_info.items():
    print(f"{key}: {val}")

student1: {'name': 'ank', 'age': 32}
name: ank
age: 32
student2: {'name': 'ankush', 'age': 21}
name: ankush
age: 21

In [45]:
#dict comprehension
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [47]:
##conditional dict comprehension
even={x: x**2 for x in range(10) if x%2==0}
print(even)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [48]:
#use a dict to count ffreq of element in list
num=[1,2,3,4,5,6,7,8,9,1,13,3,4,6,34,324,67,2]
frq={}
for n in num:
  if n in frq:
    frq[n]+=1
  else:
    frq[n]=1
print(frq)

{1: 2, 2: 2, 3: 2, 4: 2, 5: 1, 6: 2, 7: 1, 8: 1, 9: 1, 13: 1, 34: 1, 324: 1, 67: 1}

- merged_dict = {**dict1, **dict2}: This line is where the magic happens.
- The ** operator is used to unpack the contents of both dict1 and dict2.
- By placing them inside curly braces {}, a new dictionary merged_dict is created, containing all the key-value pairs from both original dictionaries.

In [49]:
#merge two dict in one
dict1={"a":1,"b":2}
dict2={"d":3,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'd': 3, 'c': 4}