<a href="https://colab.research.google.com/github/Ankush1oo8/Data_Analyst/blob/main/Basic_Python/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#LIST

What is a List?

In Python, a list is a versatile data structure used to store an ordered collection of items. These items can be of different data types (numbers, strings, even other lists!). Think of it as a container holding multiple values.

Creating a List

You create a list by enclosing comma-separated values within square brackets:

In [ ]:
my_list = [1, "hello", 3.14, True]

Accessing List Items

You can access individual items in a list using their index (position). Remember that Python indexing starts at 0:

In [ ]:
first_item = my_list[0]  # Accesses the first item (1)
second_item = my_list[1] # Accesses the second item ("hello")

Common List Operations

append(): Adds an element to the end of the list.
insert(): Inserts an element at a specific index.
remove(): Removes the first occurrence of a specific element.
pop(): Removes and returns the element at a specific index (defaults to the last element).
len(): Returns the number of elements in the list.

In [ ]:
my_list = [10, 20, 30]
my_list.append(40)  # Adds 40 to the end
my_list.insert(1, 15)  # Inserts 15 at index 1
my_list.remove(20)  # Removes the value 20
last_item = my_list.pop()  # Removes and returns the last item (40)
list_length = len(my_list)  # Gets the length of the list

In [ ]:
names=["ankush","ank","money"]
print(names)

['ankush', 'ank', 'money']

In [ ]:
fruits=["apple","banana","pineapple","grapes"]
for fruit in fruits:
    print("I have ate: ",fruit)

I have ate:  apple
I have ate:  banana
I have ate:  pineapple
I have ate:  grapes

In [ ]:
print(fruits[1])

banana

In [ ]:
print(fruits[-1])

grapes

In [ ]:
print(fruits[1:])

['banana', 'pineapple', 'grapes']

In [ ]:
print(fruits[1:3])

['banana', 'pineapple']

In [ ]:
## Modifying list element
fruits[1]="watermelon"
print(fruits[1:])

['watermelon', 'pineapple', 'grapes']

In [ ]:
#List method
fruits.append("orange") #add an item to end
print(fruits)

['apple', 'watermelon', 'pineapple', 'grapes', 'orange']

In [ ]:
fruits.insert(1,"melon")
print(fruits)

['apple', 'melon', 'watermelon', 'pineapple', 'grapes', 'orange']

In [ ]:
# Remove
fruits.remove("orange")
print(fruits)

['apple', 'melon', 'watermelon', 'pineapple', 'grapes']

In [ ]:
#remoove and return the last item
fruits.pop()

'grapes'

In [ ]:
index=fruits.index("melon")
print(index)

1

In [ ]:
fruits.insert(4,"banana");
fruits.count("banana")

1

In [ ]:
fruits.sort()

In [ ]:
print(fruits)

['apple', 'banana', 'melon', 'pineapple', 'watermelon']

In [ ]:
fruits.reverse()
print(fruits)

['watermelon', 'pineapple', 'melon', 'banana', 'apple']

In [ ]:
fruits.clear()
print(fruits)

[]

In [ ]:
## slicing
number=[1,2,3,4,5,6,7,8]
print(number[2:5])
print(number[:5])
print(number[5:])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8]

In [ ]:
print(number[::
        ])

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
print(number[::-2])

[8, 6, 4, 2]

In [ ]:
print(number[:-1])

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#iteration
for index,n in enumerate(number):
  print(index," ",n)

0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8

In [ ]:
#list comprehension
list=[]
for x in range(10):
  list.append(x**2)

print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[x for x in range(100) if x%2==0]

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [36]:
#Nested list comprehension
l=[1,2,3,4]
l1=['a','b','c','d']
pair=[[i,j]for i in l for j in l1]

In [37]:
print(pair
      )

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]