<a href="https://colab.research.google.com/github/Ankush1oo8/Data_Analyst/blob/main/Basic_Python/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loops in Python
Loops are used to execute a block of code repeatedly. Python has two main loop types:

1. for loop
The for loop iterates over a sequence (like a list, tuple, string, or range) and executes a block of code for each item in the sequence.

# Example: Print each item in a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)
Use code with caution
Explanation:

fruits = ["apple", "banana", "cherry"]: Creates a list named fruits.
for fruit in fruits:: Starts the loop, assigning each item in fruits to the variable fruit in each iteration.
print(fruit): Prints the current value of fruit.
2. while loop
The while loop executes a block of code as long as a condition is true.

# Example: Print numbers from 1 to 5
count = 1
while count <= 5:
  print(count)
  count += 1
Use code with caution
Explanation:

count = 1: Initializes a counter variable.
while count <= 5:: Continues the loop as long as count is less than or equal to 5.
print(count): Prints the current value of count.
count += 1: Increments count by 1 in each iteration.
else in Loops
In Python, loops can have an optional else block. The else block is executed after the loop completes normally (without encountering a break statement).

# prints out 0,1,2,3,4 and then it prints "done"
for x in range(5):
  print(x)
else:
  print("done")
Use code with caution
Explanation

for loop iterates over the range(5), means that x iterates over 0,1,2,3,4, each time one value
It will print the value of x
If loop is finished without break, then else code will be executed.
Additional Loop Control Statements
break: Exits the loop prematurely.
continue: Skips the current iteration and proceeds to the next.

In [ ]:
range(5)

range(0, 5)

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
range(1,10,2)

range(1, 10, 2)

This code uses a for loop to iterate through a sequence of numbers and print each number.
```
for i in range(1,10,2):
  print(i)
```
Use code with caution
for keyword: This keyword indicates the start of a for loop.

i variable: This variable acts as a placeholder. It will take on the value of each item in the sequence as the loop iterates.

range(1,10,2) function: This function generates a sequence of numbers.

It starts at 1 (1 is the first argument).
It stops before it reaches 10 (10 is the second argument).

It increments by 2 in each step (2 is the third argument). This is also referred to as the step.
print(i) function: This function prints the current value of i to the console.

How the loop works:
The range(1,10,2) function creates the sequence: 1, 3, 5, 7, 9.

The loop begins, and i is assigned the first value in the sequence, which is 1.

The print(i) function is executed, printing the value of i (which is currently 1) to the console.

The loop moves to the next value in the sequence, which is 3.

i is now assigned the value 3.
The print(i) function is executed again, printing 3 to the console.

This process continues for each value in the sequence (5, 7, and 9).

Once all values in the sequence have been processed, the loop ends.
In simpler terms, this code prints all the odd numbers from 1 to 9.

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
#while loop
count=0
while count<5:
  print(count)
  count=count+1

0
1
2
3
4

In [ ]:
#loop control statement
#break
## break statement exit the loop prematurely
for i in range(5):
  if i==3:
    break
  print(i)

0
1
2

In [ ]:
#pass
# it does nothing
for i in range(5):
  if i==3:
    pass
  print(i)

0
1
2
3
4

In [ ]:
# Nested loops
# loop inside loop

for i in range(3):
  for j in range(2):
    print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1

In [ ]:
# calculate sum of first natural num
n=10
sum=0
while n>0:
  sum=sum+n
  n=n-1
print(sum)

55