<a href="https://colab.research.google.com/github/Ankush1oo8/Data_Analyst/blob/main/Basic_Python/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#A set is an unordered collection of unique

In [3]:
my_set={1,2,3,4,5,6}
print(my_set)

{1, 2, 3, 4, 5, 6}

In [4]:
type(my_set)

set

In [5]:
my_empty_set=set()
type(my_empty_set
     )

set

In [6]:
list=[1,2,2,2,2,2]
my_set=set(list)
print(my_set)

{1, 2}

In [7]:
# basic set operation
my_set.add(7)
print(my_set)

{1, 2, 7}

In [8]:
#removing element
my_set.remove(2)
print(my_set)

{1, 7}

In [9]:
my_set.remove(2)
print(my_set)

KeyError: 2

In [10]:
my_set.discard(2)
print(my_set)

{1, 7}

In [11]:
#pop element
my_set.pop()
print(my_set)

{7}

In [12]:
from re import M
#clear
my_set.clear()
print(my_set)

set()

# set membership test

In [13]:
my_set={1,2,3,4,5,6,7}
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [14]:
print(3 in my_set)

True

In [15]:
print(30 in my_set)

False

In [21]:
#mathematics operation
set1={1,2,3,4,5,6,7}
set2={5,6,7,8,9}
##union
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [17]:
##intersection
internsection_set=set1.intersection(set2)
print(internsection_set)

{5, 6, 7}

In [18]:
set1.intersection_update(set2)
print(set1)

{5, 6, 7}

In [23]:
## diference
print(set1.difference(set2))

{1, 2, 3, 4}

In [22]:
## symmertric diference
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 3, 4, 8, 9}