<a href="https://colab.research.google.com/github/Ankush1oo8/Data_Analyst/blob/main/Basic_Python/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

What are tuples?

Tuples are ordered, immutable collections of items. "Ordered" means the items have a defined sequence, and "immutable" means you can't change the tuple's contents after it's created (unlike lists, which are mutable).

Creating Tuples

Using parentheses:
```
my_tuple = (1, 2, 'hello', 3.14)
Use code with caution
Using the tuple() function:
my_tuple = tuple([1, 2, 3])
```
Use code with caution
Accessing Tuple Elements

You access elements by their index (starting from 0):
```
first_element = my_tuple[0]
   second_element = my_tuple[1]
```
Use code with caution
Why Use Tuples?

Data Integrity: Immutability ensures data remains constant.
Representing Fixed Data: Useful for things like coordinates, database records.
Dictionary Keys: Tuples (unlike lists) can be used as dictionary keys.
Example in Colab/Jupyter:
```
my_tuple = (10, 20, 'Colab')
print(my_tuple[0])  # Output: 10
print(my_tuple[2])  # Output: Colab
```
Use code with caution
To see the output, run the code.

Key Differences from Lists:

Mutability: Tuples are immutable; lists are mutable.
Syntax: Tuples use parentheses (); lists use square brackets [].

In [2]:
num=(1,2,3,4,5,6)
type(num)

tuple

In [3]:
num[1]="ank"

TypeError: 'tuple' object does not support item assignment

In [4]:
num2=(1,2,3,4,5,6)
type(num2)

tuple

In [5]:
new_tuple=num+num2

In [6]:
print(new_tuple)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [7]:
# tuple mthod

In [8]:
print(num.count(1))

1

In [9]:
print(new_tuple.count(1))

2

In [10]:
print(new_tuple.index(1))

0

In [11]:
# packing and unpacking
packed_tuple=1,"hello",3.14

In [12]:
print(packed_tuple)

(1, 'hello', 3.14)

In [13]:
a,b,c=packed_tuple

In [14]:
print(a)
print(b)
print(c)

1
hello
3.14

In [15]:
## nested tuple
tpl=(1,2,3,4,(5,6,7,8),10)
print(tpl)

(1, 2, 3, 4, (5, 6, 7, 8), 10)

In [16]:
print(tpl[4])

(5, 6, 7, 8)

In [17]:
print(tpl[4][1])

6